*
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.menu
{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(32, 32, 32);
    align-items: center;
    height: 70px;
}
.menu img
{
    width: 10%;
}
.menu a
{
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.menu a:hover
{
    color: brown;
    transition: 0.4s;
}
.img-baner
{
    display: none;

}
.img-home
{
    width: 100%;
    padding: 50px 0px 0px;
}
.kategoria
{
    width: 100%;
}
.kategoria h2
{
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0px 10px;
    border-bottom: 1px solid grey;
    background-color: rgb(230, 230, 230);
}
.products
{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto ;
}
.item1
{
    width: 95%;
    box-shadow: 2px 2px 4px black;
    border-radius: 5%;
    margin: 15px 7px 10px;
    cursor: pointer;
}
.img-products
{
    width: 100%;
}
@media only screen and (min-width: 800px)
{
    .img-baner
{
    display: block;
    width: 100%;
    padding-bottom: 30px;
}
.wrapper
{
    width: 800px;
    margin: 0 auto;
}
.menu img
{
    width: 5%;
}
.menu a
{
    padding-left: 30px;
    padding-right: 30px;
}
.img-products:hover
{
    transform: scale(0.9);
    transition: 0.5s;
}
}